
/* Css for header above*/

header{
    display: flex;
    font-size: 18px;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

ul{
    display: flex;
    list-style: none;
    gap:30px;
}

ul li a{
    color: #E5E7EB;
    text-decoration: none;
}

/* Css for container 1*/


.containerOne{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 60px;
    gap: 20px;
    height: 210px;
}

p{
    color: #E5E7EB;
}

.paraone{
    font-weight: bold;
    font-size: 48px;
    flex-wrap: wrap;
    width: 400px;
    padding: 0;
    margin: 0;
    
}

button{
    width: 100px;
    height: 35px;
    background-color: #6ca2f9;
    border-radius: 10px;
    border: none;
}



#two{
    background-color:#e5e7ebb1 ;
    width: 500px;
}

/* CSS for container two */

.containerTwo{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


/*CSS for container three */

.containerThree{
    display:flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;

}

img{
    height: 120px;px;
    width: 120px;px;
}

/* CSS for container  four */

.containerFour{

    display:flex;
    justify-content: space-between;
    padding-left: 210px;
    padding-right: 200px

}

.containerFour p{
    text-align: center;
    width:200px;
    color: #1F2937;
}